*{
    margin:0;
    padding: 0;
    box-sizing:border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
body{

  overflow-x: hidden;
}

/* **********************
navbar styling
********************** */
.logo-art{
    width:35px;
    height: 35px;
    background-color: rgb(63, 149, 241);
    border-radius: 10px;
    box-shadow: 6px 6px 4px 0px rgb(180, 211, 245),-6px -6px 4px 0px rgb(180, 211, 245) ;
}
.logo-text a{
    font-weight: bold;
    font-size: 23px;
    margin-left:22px
}
.navbar-container{
    display: flex;
    justify-content: space-between;
    margin-top:20px
}
.logo{
    margin-left: 90px;
    display: flex;
    align-items: center;
}
.logo-text a , .navbar-left li a , .search-bar a{
    text-decoration: none;
    color: inherit;
}

.navbar-left{
    margin-right: 130px;
    display: flex;

}

.navbar-left li{
    list-style-type: none;
   
    display: inline-block;
    padding: 0 17px;
    text-transform: uppercase;
    color: white;
    font-size: 13px;
}

/* nav search bar style  */
.nav-search-bar a i{
    color: white;
    font-size: 18px;
}
.nav-search-bar{
    margin-left: 23px;
}





/* ******************************
main-content container
****************************** */

.main-content-container {
    margin-left:90px
}


.main-heading-section{
   
    margin-top: 105px;
    
}
.main-heading-section h1{
    font-size:52px;
    text-transform: uppercase;
    padding: 0;
    margin: 0;

}
.main-text-paragraph{
    margin-top: 10px;
    color: gray;
}




/* .search-bar style  */

.search-bar-container{
    position: relative;
    margin-top: 70px;
    
}
.search-bar-container input{
    outline: unset;
    border: unset;
    width: 170px;
    height: 40px;
    border-radius: 42px;
    padding: 5px 15px;
    box-shadow: -1px -1px 7px rgb(222, 217, 217);
    

}
.search-bar-logo{
    background-color: rgb(56, 108, 242);
    display: inline-block;
    padding: 8px 11px 8px 11px ;
    

    border-radius: 50px;
    position: absolute;
    left: 130px;
    
    margin: 2px;
    
}
.search-bar-logo  i{
    color: white;
   
    text-align: center;
    
}


/* background image style */
 
.background-image img{
    border-radius: 80px;
    overflow: hidden;
    transform: rotate(-35deg);
    width: 1148px;
    position: absolute;
    top: -313px;
    right: -320px;
    object-fit: cover;
    z-index: -1;
}
.background-image{
    overflow: hidden;
}



/* *******************************
bottom-page-style
******************************* */


.bottom-main-content-container{
    margin-left:90px ;
    display: flex;
    align-items: center;
    
}


/* ************************
bottom image gallery style
************************ */

.bottom-gallery-container{
    display: inline-block;
    margin-right: 60px;
}
.image-gallery{
    margin-top:90px;
    display: flex;
    flex-wrap: wrap;
    width: 350px;

}
.top-image img {
    margin: 4px;
    width:160px;
    height: 140px;
    border-radius: 13px;
}
.bottom-image img{

    margin: 4px;
    width:330px;
    height:140px ;
    border-radius: 13px;
    
}

 





/* *********************************
bottom text style
********************************* */

.bottom-text-container{
    display: inline-block;
    margin-top:80px;
}
 .bottom-heading-text h3 {
 display: inline-block;
 width: 420px;
}
 .bottom-paragraph-text p{
    margin-top: 10px;
    display: inline-block;
    width: 350px;
    font-size: 13px;
}
